<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS szerver oldali renderelés teszt</title>
</head>
<body>
  <h1>EJS szerver oldali renderelés (SSR) működik!</h1>
</body>
</html>